## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#% matplotlib.inline

## Reading the Data

In [2]:
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines = False)

## Exploring the Data

In [3]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Question 1

In [4]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [5]:
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2

In [7]:
#identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [11]:
fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [12]:
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

## Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [13]:
fuel_data.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [14]:
fuel_data.kurtosis()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

## Question 6
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 

(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [15]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [35]:
percentage_missing = ((180/29523)*100)
round(percentage_missing, 3)

0.61

## Question 7
The feature with missing values falls under what category? What missing value imputation technique would you use?

In [22]:
fuel_data['fuel_unit']

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [23]:
fuel_data['fuel_unit'].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

mode = 'mcf'

In [36]:
#fill missing values with the mode mcf
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value='mcf')

In [37]:
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

## Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [24]:
fuel_data[['fuel_qty_burned', 'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned', 'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu']].corr('spearman').sort_values('fuel_cost_per_unit_burned', ascending = True)

,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_qty_burned,1.000000,0.088374,-0.390275,-0.257279,-0.540417
fuel_cost_per_mmbtu,-0.540417,-0.280657,0.318533,0.221548,1.000000
fuel_mmbtu_per_unit,0.088374,1.000000,0.557998,0.494841,-0.280657
fuel_cost_per_unit_delivered,-0.257279,0.494841,0.760263,1.000000,0.221548
fuel_cost_per_unit_burned,-0.390275,0.557998,1.000000,0.760263,0.318533

In [25]:
fuel_data[['fuel_qty_burned', 'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned', 'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu']].corr('spearman').abs().sort_values('fuel_cost_per_unit_burned', ascending = True)

,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_mmbtu,0.540417,0.280657,0.318533,0.221548,1.000000
fuel_qty_burned,1.000000,0.088374,0.390275,0.257279,0.540417
fuel_mmbtu_per_unit,0.088374,1.000000,0.557998,0.494841,0.280657
fuel_cost_per_unit_delivered,0.257279,0.494841,0.760263,1.000000,0.221548
fuel_cost_per_unit_burned,0.390275,0.557998,1.000000,0.760263,0.318533

## Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [26]:
#sum of fuel cost per unit burned in 1998 by different fuel types
fuel_1998 = fuel_data[fuel_data['report_year']==1998]
fuel_type_burned_1998 = fuel_1998.groupby('fuel_type_code_pudl')['fuel_type_code_pudl','fuel_cost_per_unit_burned'].sum()
fuel_type_burned_1998

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                 11902.597
gas                                   7475.596
nuclear                             117788.269
oil                                   2608.657
other                                  225.428
waste                                  238.109

In [27]:
#sum of fuel cost per unit burned in 1994 by different fuel types
fuel_1994 = fuel_data[fuel_data['report_year']==1994]
fuel_type_burned_1994 = fuel_1994.groupby('fuel_type_code_pudl')['fuel_type_code_pudl','fuel_cost_per_unit_burned'].sum()
fuel_type_burned_1994

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                 14984.572
gas                                  10792.496
nuclear                             227983.354
oil                                   9362.194
other                                  116.737
waste                                   52.762

In [28]:
#percentage change in fuel_cost_per_unit_burned in 1998 and 1994 for different fuel types
((fuel_type_burned_1998 - fuel_type_burned_1994)/fuel_type_burned_1994)*100

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                -20.567655
gas                                 -30.733391
nuclear                             -48.334706
oil                                 -72.136264
other                                93.107584
waste                               351.288806

## Question 10
Which year has the highest average fuel cost per unit delivered?

In [29]:
#average fuel cost per unit delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values()

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

Git repository for this notebook: 
https://github.com/EkeminiUmanah/hamoyequiz1.git